@layout('main')
@section('content')

<table class="table table-hover table striped table-border table-light">
    <thead>
        
        <td>C</td>
        <td class="text-center">İşlemler</td>
    </thead>
    <tbody>
        @each(post in cars)
        <tr >
            <td>{{post.C1}}</td>

            <td style="width: 250px;" class="text-center">
               
            </td>
        @endeach
    </tbody>
</table>

@endsection
