<!DOCTYPE html>
<html>
<head>
	<title>HTML Table Generator</title> 
	<style>
		.demTable {
            
			border:3px solid #b3adad;
			border-collapse:collapse;
			padding:35px;
		}
		.demTable th {
			border:3px solid #b3adad;
			padding:35px;
			background: #f0f0f0;
			color: #313030;
		}
		.demTable td {
			border:3px solid #b3adad;
			text-align:center;
			padding:35px;
			background: #ffffff;
			color: #313030;
		}
        .table {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }



        .button {
			color: #ffffff;
			background-color: #2d63c8;
			font-size: 19px;
			border: 1px solid #2d63c8;
			padding: 15px 50px;
			cursor: pointer
		}
		.button:hover {
			color: #2d63c8;
			background-color: #ffffff;
		}

        .button2 {
			color: #ffffff;
			background-color: #2d63c8;
			font-size: 19px;
			border: 1px solid #2d63c8;
			padding: 15px 50px;
			cursor: pointer
		}
		.button2:hover {
			color: #2d63c8;
			background-color: #ffffff;
		}
        
        .button2{
            position: absolute;
            right: 10px ;
        }


        .gate1{
            border-left: 5px solid #e67e22;
            height: 400px;
            transform: translate(30rem, 14rem);
        }
        .gate2{
            border-left: 5px solid #e67e22;
            float: right;
            height: 400px;
            transform: translate(-30rem, -10rem);
        }

        .deneme {
			color: #ffffff;
			background-color: #2d63c8;
			font-size: 19px;
			border: 1px solid #2d63c8;
			padding: 15px 50px;
			cursor: pointer
		}
		.deneme:hover {
			color: #2d63c8;
			background-color: #ffffff;
		}
        
	</style>
</head>
<body>
    
    <div class="table"> 
        <table class="demTable">
            <thead>
                <tr>
                    <th>C1</th>
                    <th>C2</th>
                    <th>C3</th>
                    <th>C4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @if(empty === 'C1-1')
                        H
                        @else
                        BOŞ
                        @endif
                    </td> <!-- if statment yazılacak eğer db den "BOŞ" dönüyor ise boş yazacak dönmüyor ise buton koyacak -->
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                </tr>
                <tr>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                </tr>
                <tr>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                </tr>
                <tr>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                </tr>
                <tr>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                    <td>BOŞ</td>
                </tr>
            </tbody>
        </table>
    </div>

    {{--  <button onclick="kapitikladi()" type="submit" name="kapi1" class="kapi1">Kapı 1</button>
	<button href="/post" type="submit" name="kapi2" class="kapi2">Kapı 2</button>  --}}

    <a href="/kapi1" > <input type="submit" class="button" value = "Kapı 1"> </a>
    <a href="/kapi2" > <input type="submit" class="button2" value = "Kapı 2">  </a>
        

    <script>
        const kapi1 = document.querySelector('.kapi1');
        const kapi2 = document.querySelector('.kapi2');

        function kapitikladi(){
            console.log('kapi1');
        }


    </script>

    <div class="gate1"></div>
    <div class="gate2"></div>
</body>
</html>